body .breadcrumbs {
  padding: 27px 15px 0;
  background-color: white;
}

body .breadcrumbs .breadcrumb-list {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #787878;
}

body .breadcrumbs .breadcrumb-list li {
  list-style: none;
}

body .breadcrumbs .breadcrumb-list .breadcrumb-items {
  padding: 5px 0;
  line-height: 1;
  vertical-align: top;
  display: inline;
  text-transform: unset;
}

body .breadcrumbs .breadcrumb-list .breadcrumb-items span {
  margin: 0 7px;
}

body .breadcrumbs .breadcrumb-list .breadcrumb-items a {
  color: #787878;
  font-size: inherit;
  text-decoration: none;
  margin: 0 7px;
}

body .blog-news {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: unset;
  line-height: 1.3;
  margin-left: 20px;
  font-size: 34px;
  margin-bottom: 40px;
}

body .sidebar-search {
  width: 270px;
  margin: 0 0 30px 20px;
}

body .sidebar-search .search-heading {
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  margin-bottom: 23px;
}

body .sidebar-search .search-input {
  position: relative;
}

body .sidebar-search .search-input .form-control {
  border: 30px 10px;
}

body .sidebar-search .search-input input {
  color: #787878;
  border: 1px solid;
  padding-right: 30px;
  height: 50px;
}

body .sidebar-search .search-input .search-icon {
  height: 50px;
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  cursor: pointer;
}

body .sidebar-blog {
  width: 270px;
  margin-left: 20px;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

body .sidebar-blog .sidebar-content .content-list {
  padding-left: 0 !important;
}

body .sidebar-blog .sidebar-content .content-list .content-items {
  margin-bottom: 8px;
  vertical-align: top;
}

body .sidebar-blog .sidebar-content .content-list .content-items a {
  cursor: pointer;
  text-transform: capitalize;
  color: #787878;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}

body .sidebar-blog .sidebar-content .content-list .content-items a:hover {
  color: #464242;
}

body .sidebar-blog .blog-heading {
  margin: 23px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

body .recentSection .recent-blog {
  width: 270px;
  margin: 20px 0 30px 20px;
  border-bottom: 1px solid black;
}

body .recentSection .recent-blog .recentPosts-list .recent-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
}

body .recentSection .recent-blog .recentPosts-list .recent-items h5 a {
  color: #1e1e1e;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
}

body .recentSection .recent-blog .recentPosts-list .recent-items p {
  display: inline-block;
  line-height: 28px;
  font-style: italic;
  margin: 3px 0 0;
  color: #787878;
  font-size: 14px;
}

body .recentSection .recent-blog .recentPosts-list .recent-items a .recent-img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 10%;
}

body .recentSection .recent-blog .recent-heading {
  margin: 23px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

body .sellersSection .best-sellers {
  width: 270px;
  margin: 20px 0 30px 20px;
  border-bottom: 1px solid black;
}

body .sellersSection .best-sellers .seller-list .product-details a {
  text-decoration: none;
}

body .sellersSection .best-sellers .seller-list .product-details .productDetails {
  font-size: 13px;
  position: relative;
  padding-left: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #17a8a3;
}

body .sellersSection .best-sellers .seller-list .seller-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-variant .beige-variant,
body .sellersSection .best-sellers .seller-list .seller-items .product-variant .beige-variant2 {
  display: inline-block;
  background-color: beige;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
  margin-right: 2px;
  margin-bottom: 5px;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-variant .grey-variant {
  display: inline-block;
  background-color: grey;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin-bottom: 5px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
  margin-bottom: 5px;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-variant .white-variant {
  display: inline-block;
  background-color: white;
  border: 1px solid #dadada;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-variant .lightCoral-variant {
  display: inline-block;
  background-color: lightcoral;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale {
  color: #787878;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale .on-sale {
  text-decoration: line-through;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale .actual-price {
  color: red;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale p {
  display: inline-block;
}

body .sellersSection .best-sellers .seller-list .seller-items .product-content .product-title a {
  color: #1e1e1e;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
}

body .sellersSection .best-sellers .sellersHeading {
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  margin: 23px 0;
}

body .sellersSection .best-sellers .sellersHeading a {
  text-decoration: none;
  position: absolute;
  font-size: 12px;
  color: #17a8a3;
  right: 0;
  top: 5px;
  border-bottom: 1px solid;
  line-height: 1.4;
  font-weight: 400;
}

body .herbalSection .herbal-tea {
  width: 270px;
  margin: 20px 0 30px 20px;
  border-bottom: 1px solid black;
}

body .herbalSection .herbal-tea img {
  margin-bottom: 40px;
}

body .customSection .custom-block {
  width: 270px;
  margin: 20px 0 30px 20px;
}

body .customSection .custom-block .block-heading {
  margin: 23px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

body .customSection .custom-block .block-content p {
  line-height: 24px;
  color: #787878;
  margin: 0 0 15px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
}
